.header{
    background-color: rgb(219, 79, 102);
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho2{
    grid-area: cabecalho2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center; 
    border: solid black 2px;
}